<html>
    <head>
        <title lang="title">Telanco Fejl</title>
        <style>
            table {
                font-family: Arial, Helvetica, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            table td, table th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            table tr:nth-child(even){background-color: #f2f2f2;}

            table tr:hover {background-color: #ddd;}

            table th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #04AA6D;
                color: white;
            }

            .hidden {
                display: none;
            }

            .font-0 {
                font-size: 0;
            }
        </style>
    </head>
    <body>
        <div class="site">
            <table>
                <tr>
                    <th onclick="document.querySelectorAll('.err-id').forEach(el => el.classList.toggle('font-0'));">_id</th>
                    <th onclick="document.querySelectorAll('.err-date').forEach(el => el.classList.toggle('font-0'));">date</th>
                    <th onclick="document.querySelectorAll('.err-website').forEach(el => el.classList.toggle('font-0'));">website</th>
                    <th onclick="document.querySelectorAll('.err-tags').forEach(el => el.classList.toggle('font-0'));">tags</th>
                    <th onclick="document.querySelectorAll('.err-ip').forEach(el => el.classList.toggle('font-0'));">ip</th>
                    <th onclick="document.querySelectorAll('.err-filename').forEach(el => el.classList.toggle('font-0'));">filename</th>
                    <th onclick="document.querySelectorAll('.err-type').forEach(el => el.classList.toggle('font-0'));">errorType</th>
                    <th onclick="document.querySelectorAll('.err-message').forEach(el => el.classList.toggle('font-0'));">errorMessage</th>
                    <th onclick="document.querySelectorAll('.err-stack').forEach(el => el.classList.toggle('font-0'));">stackTrace</th>
                </tr>
                
            <% errors.reverse().forEach(err => { 
                let err1 = "";
                let err2 = err.filename ?? 'null';

                if(err.filename && !err.filename.startsWith('http://')) {
                    let split = err.filename.split('/')
                    err2 = split.pop();
                    err1 = split.join('/');
                }
            %>
                <tr>
                    <td class="err-id font-0"><%= err._id ?? 'null' %></td>
                    <td class="err-date"><%= err.date ? ('' + err.date.getFullYear() + '-' + (err.date.getMonth() + 1 > 9 ? err.date.getMonth() + 1 : '0' + (err.date.getMonth() + 1)) + '-' + (err.date.getDate() > 9 ? err.date.getDate() : ('0' + err.date.getDate())) + ' ' + (err.date.getHours() > 9 ? err.date.getHours() : ('0' + err.date.getHours())) + ':' + (err.date.getMinutes() > 9 ? err.date.getMinutes() : ('0' + err.date.getMinutes())))  : 'null' %></td>
                    <td class="err-website"><%= err.website ?? 'null' %></td>
                    <td class="err-tags font-0"><%= err.tags ? err.tags.toString() : 'null' %></td>
                    <td class="err-ip font-0"><%= err.ip ?? 'null' %></td>
                    <td class="err-filename" onclick="this.querySelector('span').classList.toggle('hidden');"><span class="hidden"><%= err1 %>/</span><span><%= err2 %></span></td>
                    <td class="err-type"><%= err.errorType ?? 'null' %></td>
                    <td class="err-message"><%= err.errorMessage ?? 'null' %></td>
                    <td class="err-stack font-0"><%= err.stackTrace ?? 'null' %></td>
                </tr>
            <% }); %>
            </table>
        </div>
    </body>
</html>
